<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container contact" style="background-color: cadetblue;">
    <h1 class="text-center">User Registration</h1>
	<div class="row">
		<div class="col-md-3">
			<div class="contact-info">
				<img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
                <h2>Hello, user</h2>
                <h4>What you get after registration!</h4>
				<ul>
                    <li>Access of all the Vedios.</li>
                    <li>You can directly conects with your fev.</li>
                </ul>
			</div>
		</div>
		<div class="col-md-9">
            <form action="" #userForm = "ngForm">
                <!-- {{userForm.value | json }} -->
			<div class="contact-form">
				<div class="form-group">
				  <label class="control-label col-sm-2" for="fname">First Name:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname" [(ngModel)]="obj.fname">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="lname">Last Name:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname" [(ngModel)]="obj.lname">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="email">Email:</label>
				  <div class="col-sm-10">
					<input type="email" class="form-control" id="email" placeholder="Enter email" name="email" [(ngModel)]="obj.email">
				  </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="phone">Phone:</label>
                    <div class="col-sm-10">
                      <input type="tel" class="form-control" id="phone" placeholder="Enter phone number" name="phone" [(ngModel)]="obj.phone">
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label for="">
                        Gender:
                    </label>
                    <div class="col-sm-10"><select name="" id="">
                    <option value="" selected>Select Gender</option>
                    <option  *ngFor="">{{gender}}</option>
                    </select></div>
                </div> -->
                <div class="form-group">
                    <label class="control-label col-sm-2" for="password">Password:</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" [(ngModel)]="obj.password">
                    </div>
                  </div>
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10">
					<button type="submit" onclick="sendData()"class="btn btn-default">Submit</button>
				  </div>
				</div>
            </div>
        </form>
		</div>
	</div>
</div>
<app-user-dashboard (formData) = obj></app-user-dashboard>